[submodule "depend/zdfs"]
	path = depend/zdfs
	url = https://github.com/jerome-trc/zdfs.git
[submodule "depend/znbx"]
	path = depend/znbx
	url = https://github.com/jerome-trc/znbx.git
[submodule "depend/zmsx"]
	path = depend/zmsx
	url = https://github.com/jerome-trc/zmsx.git
[submodule "depend/zbcx"]
	path = depend/zbcx
	url = https://github.com/jerome-trc/zbcx.git
