ICONS/Makefile.am eol=lf
ICONS/prboom-plus.bash -text
ICONS/prboom-plus.desktop -text
ICONS/prboom-plus.exe.manifest -text
ICONS/viletech.ico -text
Makefile.am eol=lf
VisualC6/Doom.dsp eol=crlf
VisualC6/Doom.dsw eol=crlf
VisualC6/Makefile.am eol=lf
VisualC8/Doom.sln eol=crlf
VisualC8/Doom.vcproj eol=crlf
VisualC8/Makefile.am -text
autotools/ac_c_compile_flags.m4 eol=lf
autotools/ac_cpu_optimisations.m4 eol=lf
data/Makefile.am eol=lf
data/flats/-n0_tex-.ppm -text svneol=unset#unset
data/graphics/boxcc.ppm -text svneol=unset#application/octet-stream
data/graphics/boxcl.ppm -text svneol=unset#application/octet-stream
data/graphics/boxcr.ppm -text svneol=unset#application/octet-stream
data/graphics/boxlc.ppm -text svneol=unset#application/octet-stream
data/graphics/boxll.ppm -text svneol=unset#application/octet-stream
data/graphics/boxlr.ppm -text svneol=unset#application/octet-stream
data/graphics/boxuc.ppm -text svneol=unset#application/octet-stream
data/graphics/boxul.ppm -text svneol=unset#application/octet-stream
data/graphics/boxur.ppm -text svneol=unset#application/octet-stream
data/graphics/cross1.ppm -text
data/graphics/cross2.ppm -text
data/graphics/cross3.ppm -text
data/graphics/cross4.ppm -text
data/graphics/cross5.ppm -text
data/graphics/cross6.ppm -text
data/graphics/cross7.ppm -text
data/graphics/dig033.ppm -text
data/graphics/dig034.ppm -text
data/graphics/dig035.ppm -text
data/graphics/dig036.ppm -text
data/graphics/dig037.ppm -text
data/graphics/dig038.ppm -text
data/graphics/dig039.ppm -text
data/graphics/dig040.ppm -text
data/graphics/dig041.ppm -text
data/graphics/dig042.ppm -text
data/graphics/dig043.ppm -text
data/graphics/dig044.ppm -text
data/graphics/dig045.ppm -text
data/graphics/dig046.ppm -text
data/graphics/dig047.ppm -text
data/graphics/dig048.ppm -text
data/graphics/dig049.ppm -text
data/graphics/dig050.ppm -text
data/graphics/dig051.ppm -text
data/graphics/dig052.ppm -text
data/graphics/dig053.ppm -text
data/graphics/dig054.ppm -text
data/graphics/dig055.ppm -text
data/graphics/dig056.ppm -text
data/graphics/dig057.ppm -text
data/graphics/dig058.ppm -text
data/graphics/dig059.ppm -text
data/graphics/dig060.ppm -text
data/graphics/dig061.ppm -text
data/graphics/dig062.ppm -text
data/graphics/dig063.ppm -text
data/graphics/dig064.ppm -text
data/graphics/dig065.ppm -text
data/graphics/dig066.ppm -text
data/graphics/dig067.ppm -text
data/graphics/dig068.ppm -text
data/graphics/dig069.ppm -text
data/graphics/dig070.ppm -text
data/graphics/dig071.ppm -text
data/graphics/dig072.ppm -text
data/graphics/dig073.ppm -text
data/graphics/dig074.ppm -text
data/graphics/dig075.ppm -text
data/graphics/dig076.ppm -text
data/graphics/dig077.ppm -text
data/graphics/dig078.ppm -text
data/graphics/dig079.ppm -text
data/graphics/dig080.ppm -text
data/graphics/dig081.ppm -text
data/graphics/dig082.ppm -text
data/graphics/dig083.ppm -text
data/graphics/dig084.ppm -text
data/graphics/dig085.ppm -text
data/graphics/dig086.ppm -text
data/graphics/dig087.ppm -text
data/graphics/dig088.ppm -text
data/graphics/dig089.ppm -text
data/graphics/dig090.ppm -text
data/graphics/dig091.ppm -text
data/graphics/dig092.ppm -text
data/graphics/dig093.ppm -text
data/graphics/dig094.ppm -text
data/graphics/dig095.ppm -text
data/graphics/dig096.ppm -text
data/graphics/dig097.ppm -text
data/graphics/dig098.ppm -text
data/graphics/dig099.ppm -text
data/graphics/dig100.ppm -text
data/graphics/dig101.ppm -text
data/graphics/dig102.ppm -text
data/graphics/dig103.ppm -text
data/graphics/dig104.ppm -text
data/graphics/dig105.ppm -text
data/graphics/dig106.ppm -text
data/graphics/dig107.ppm -text
data/graphics/dig108.ppm -text
data/graphics/dig109.ppm -text
data/graphics/dig110.ppm -text
data/graphics/dig111.ppm -text
data/graphics/dig112.ppm -text
data/graphics/dig113.ppm -text
data/graphics/dig114.ppm -text
data/graphics/dig115.ppm -text
data/graphics/dig116.ppm -text
data/graphics/dig117.ppm -text
data/graphics/dig118.ppm -text
data/graphics/dig119.ppm -text
data/graphics/dig120.ppm -text
data/graphics/dig121.ppm -text
data/graphics/dig122.ppm -text
data/graphics/dig123.ppm -text
data/graphics/dig124.ppm -text
data/graphics/dig125.ppm -text
data/graphics/dig126.ppm -text
data/graphics/m_accel.ppm -text
data/graphics/m_auto.ppm -text
data/graphics/m_butt1.ppm -text
data/graphics/m_butt2.ppm -text
data/graphics/m_colors.ppm -text
data/graphics/m_compat.ppm -text
data/graphics/m_enem.ppm -text
data/graphics/m_generl.ppm -text
data/graphics/m_horsen.ppm -text
data/graphics/m_keybnd.ppm -text
data/graphics/m_loksen.ppm -text
data/graphics/m_mess.ppm -text
data/graphics/m_palno.ppm -text
data/graphics/m_palsel.ppm -text
data/graphics/m_setup.ppm -text
data/graphics/m_stat.ppm -text
data/graphics/m_vbox.ppm -text
data/graphics/m_versen.ppm -text
data/graphics/m_weap.ppm -text
data/graphics/prboom.ppm -text
data/graphics/stcfn096.ppm -text
data/graphics/stkeys6.ppm -text
data/graphics/stkeys7.ppm -text
data/graphics/stkeys8.ppm -text
data/lumps/animated.lmp -text
data/lumps/b_end.lmp -text svneol=unset#application/octet-stream
data/lumps/b_start.lmp -text svneol=unset#application/octet-stream
data/lumps/bfgbex.lmp -text
data/lumps/c_end.lmp -text svneol=unset#application/octet-stream
data/lumps/c_start.lmp -text svneol=unset#application/octet-stream
data/lumps/chexdeh.lmp -text
data/lumps/dsdacr.lmp -text
data/lumps/dsdahud.lmp -text
data/lumps/dsdatc.lmp -text
data/lumps/gammatbl.lmp -text svneol=unset#application/octet-stream
data/lumps/glfp.lmp -text
data/lumps/glshadow.lmp -text
data/lumps/glvp.lmp -text
data/lumps/m_ammo.lmp -text
data/lumps/m_armour.lmp -text
data/lumps/m_arrow.lmp -text
data/lumps/m_health.lmp -text
data/lumps/m_key.lmp -text
data/lumps/m_mark.lmp -text
data/lumps/m_normal.lmp -text
data/lumps/m_power.lmp -text
data/lumps/m_shadow.lmp -text
data/lumps/m_weap.lmp -text
data/lumps/nervebex.lmp -text
data/lumps/sinetabl.lmp -text
data/lumps/sndcurve.lmp -text
data/lumps/soundfont/sndfont.lmp -text
data/lumps/switches.lmp -text
data/lumps/tangtabl.lmp -text
data/lumps/tantoang.lmp -text
data/lumps/watermap.lmp -text
data/palette.rgb -text svneol=unset#unset
data/sounds/dsdgact.wav -text
data/sounds/dsdgatk.wav -text
data/sounds/dsdgdth.wav -text
data/sounds/dsdgpain.wav -text
data/sounds/dsdgsit.wav -text
data/sounds/dsgibdth.wav -text
data/sounds/dssecret.wav -text
data/sounds/free/dsdgact.wav -text
data/sounds/free/dsdgatk.wav -text
data/sounds/free/dsdgdth.wav -text
data/sounds/free/dsdgpain.wav -text
data/sounds/free/dsdgsit.wav -text
data/sprites/dogsa1.ppm -text
data/sprites/dogsa2a8.ppm -text
data/sprites/dogsa3a7.ppm -text
data/sprites/dogsa4a6.ppm -text
data/sprites/dogsa5.ppm -text
data/sprites/dogsb1.ppm -text
data/sprites/dogsb2b8.ppm -text
data/sprites/dogsb3b7.ppm -text
data/sprites/dogsb4b6.ppm -text
data/sprites/dogsb5.ppm -text
data/sprites/dogsc1.ppm -text
data/sprites/dogsc2c8.ppm -text
data/sprites/dogsc3c7.ppm -text
data/sprites/dogsc4c6.ppm -text
data/sprites/dogsc5.ppm -text
data/sprites/dogsd1.ppm -text
data/sprites/dogsd2d8.ppm -text
data/sprites/dogsd3d7.ppm -text
data/sprites/dogsd4d6.ppm -text
data/sprites/dogsd5.ppm -text
data/sprites/dogse1.ppm -text
data/sprites/dogse2.ppm -text
data/sprites/dogse3.ppm -text
data/sprites/dogse4.ppm -text
data/sprites/dogse5.ppm -text
data/sprites/dogse6.ppm -text
data/sprites/dogse7.ppm -text
data/sprites/dogse8.ppm -text
data/sprites/dogsf1.ppm -text
data/sprites/dogsf2.ppm -text
data/sprites/dogsf3.ppm -text
data/sprites/dogsf4.ppm -text
data/sprites/dogsf5.ppm -text
data/sprites/dogsf6.ppm -text
data/sprites/dogsf7.ppm -text
data/sprites/dogsf8.ppm -text
data/sprites/dogsg1.ppm -text
data/sprites/dogsg2.ppm -text
data/sprites/dogsg3.ppm -text
data/sprites/dogsg4.ppm -text
data/sprites/dogsg5.ppm -text
data/sprites/dogsg6.ppm -text
data/sprites/dogsg7.ppm -text
data/sprites/dogsg8.ppm -text
data/sprites/dogsh1.ppm -text
data/sprites/dogsh2.ppm -text
data/sprites/dogsh3.ppm -text
data/sprites/dogsh4.ppm -text
data/sprites/dogsh5.ppm -text
data/sprites/dogsh6.ppm -text
data/sprites/dogsh7.ppm -text
data/sprites/dogsh8.ppm -text
data/sprites/dogsi0.ppm -text
data/sprites/dogsj0.ppm -text
data/sprites/dogsk0.ppm -text
data/sprites/dogsl0.ppm -text
data/sprites/dogsm0.ppm -text
data/sprites/dogsn0.ppm -text
data/sprites/free/dogsa1.ppm -text
data/sprites/free/dogsa2a8.ppm -text
data/sprites/free/dogsa3a7.ppm -text
data/sprites/free/dogsa4a6.ppm -text
data/sprites/free/dogsa5.ppm -text
data/sprites/free/dogsb1.ppm -text
data/sprites/free/dogsb2b8.ppm -text
data/sprites/free/dogsb3b7.ppm -text
data/sprites/free/dogsb4b6.ppm -text
data/sprites/free/dogsb5.ppm -text
data/sprites/free/dogsc1.ppm -text
data/sprites/free/dogsc2c8.ppm -text
data/sprites/free/dogsc3c7.ppm -text
data/sprites/free/dogsc4c6.ppm -text
data/sprites/free/dogsc5.ppm -text
data/sprites/free/dogsd1.ppm -text
data/sprites/free/dogsd2d8.ppm -text
data/sprites/free/dogsd3d7.ppm -text
data/sprites/free/dogsd4d6.ppm -text
data/sprites/free/dogsd5.ppm -text
data/sprites/free/dogse1.ppm -text
data/sprites/free/dogse2.ppm -text
data/sprites/free/dogse3.ppm -text
data/sprites/free/dogse4.ppm -text
data/sprites/free/dogse5.ppm -text
data/sprites/free/dogse6.ppm -text
data/sprites/free/dogse7.ppm -text
data/sprites/free/dogse8.ppm -text
data/sprites/free/dogsf1.ppm -text
data/sprites/free/dogsf2.ppm -text
data/sprites/free/dogsf3.ppm -text
data/sprites/free/dogsf4.ppm -text
data/sprites/free/dogsf5.ppm -text
data/sprites/free/dogsf6.ppm -text
data/sprites/free/dogsf7.ppm -text
data/sprites/free/dogsf8.ppm -text
data/sprites/free/dogsg1.ppm -text
data/sprites/free/dogsg2.ppm -text
data/sprites/free/dogsg3.ppm -text
data/sprites/free/dogsg4.ppm -text
data/sprites/free/dogsg5.ppm -text
data/sprites/free/dogsg6.ppm -text
data/sprites/free/dogsg7.ppm -text
data/sprites/free/dogsg8.ppm -text
data/sprites/free/dogsh1.ppm -text
data/sprites/free/dogsh2.ppm -text
data/sprites/free/dogsh3.ppm -text
data/sprites/free/dogsh4.ppm -text
data/sprites/free/dogsh5.ppm -text
data/sprites/free/dogsh6.ppm -text
data/sprites/free/dogsh7.ppm -text
data/sprites/free/dogsh8.ppm -text
data/sprites/free/dogsi0.ppm -text
data/sprites/free/dogsj0.ppm -text
data/sprites/free/dogsk0.ppm -text
data/sprites/free/dogsl0.ppm -text
data/sprites/free/dogsm0.ppm -text
data/sprites/free/dogsn0.ppm -text
data/sprites/pls1a0.ppm -text
data/sprites/pls1b0.ppm -text
data/sprites/pls1c0.ppm -text
data/sprites/pls1d0.ppm -text
data/sprites/pls1e0.ppm -text
data/sprites/pls1f0.ppm -text
data/sprites/pls1g0.ppm -text
data/sprites/pls2a0.ppm -text
data/sprites/pls2b0.ppm -text
data/sprites/pls2c0.ppm -text
data/sprites/pls2d0.ppm -text
data/sprites/pls2e0.ppm -text
data/sprites/tnt1a0.ppm -text
make-release.cmd -text
src/MAC/ANSIString.h -text
src/MAC/ANSIString.m -text
src/MAC/ConsoleController.h -text
src/MAC/ConsoleController.m -text
src/MAC/DrawerButton.h -text
src/MAC/DrawerButton.m -text
src/MAC/English.lproj/MainMenu.nib/classes.nib -text
src/MAC/English.lproj/MainMenu.nib/info.nib -text
src/MAC/English.lproj/MainMenu.nib/keyedobjects.nib -text
src/MAC/FileButtonController.h -text
src/MAC/FileButtonController.m -text
src/MAC/Image-DS_Store -text
src/MAC/Info.plist -text
src/MAC/Makefile.am -text
src/MAC/PrBoom.icns -text
src/MAC/PrBoom.sdef -text
src/MAC/Rakefile -text
src/MAC/ResolutionDataSource.h -text
src/MAC/ResolutionDataSource.m -text
src/MAC/SDLMain.h -text
src/MAC/SDLMain.m -text
src/MAC/TODO -text
src/MAC/UKFileWatcher.h -text
src/MAC/UKKQueue.h -text
src/MAC/UKKQueue.m -text
src/MAC/UKMainThreadProxy.h -text
src/MAC/UKMainThreadProxy.m -text
src/MAC/WadViewController.h -text
src/MAC/WadViewController.m -text
src/MAC/config.h -text
src/MAC/i_sound.m -text
src/MAC/i_system.m -text
src/MAC/macsupport.rb -text
src/MUSIC/Makefile.am eol=lf
src/MUSIC/dll/libogg-0.dll -text
src/MUSIC/dll/libvorbis-0.dll -text
src/MUSIC/dll/libvorbisfile-3.dll -text
src/MUSIC/dll/portmidi.dll -text
src/MUSIC/lib/dumb.lib -text
src/MUSIC/lib/dumbd.lib -text
src/MUSIC/lib/libfluidsynth.lib -text
src/MUSIC/lib/libmad.lib -text
src/MUSIC/lib/libmadd.lib -text
src/MUSIC/lib/libogg.lib -text
src/MUSIC/lib/libvorbis.lib -text
src/MUSIC/lib/libvorbisfile.lib -text
src/MUSIC/lib/portmidi.lib -text
src/Makefile.am eol=lf
src/SDL/Makefile.am eol=lf
src/SDL/SDL_windows.h -text
src/SDL/SDL_windows_main.c -text
src/TEXTSCREEN/Makefile.am -text
src/TEXTSCREEN/txt_largefont.h -text
src/gl_shader.c -text
tests/demo-testing.csv -text
tests/donut_av.wad -text
tests/heightlist_overflow.wad -text
tests/missed_back_side.zip -text
tests/sky.wad -text
tests/weaponinfo.wad -text
.vs/CMakeWorkspaceSettings.json text eol=crlf
